<div class="container-home-wrap">
	<div class="container-main">
		<h1 class="title-brand">{{title}}</h1>
		{{#if user}}
		<h2 class="subtitle-brand"> Welcome <span class="username">{{user.username}}</span>!</h2>
		<h4>Enjoy the Tupper Experience!!!</h4>
		{{/if}}
	</div>
</div>