<h2>Profile</h2>

<h4>Hello <span>{{user.username}}</span></h4>

<form action="/profile" method="POST" id="form-profile">
	<label for="address">Address</label>
	<input type="text" name="address" id="autocomplete" placeholder="Your address" required>
	<label for="isCooker">Do you wanna be a cooker?</label>

	<input type="radio" name="isCooker" value="false" checked> No<br>
	<input type="radio" name="isCooker" value="true"> Yes<br>

	{{#if errorMessage }}
	<div class="error-message">{{ errorMessage }}</div>
	{{else if successMessage}}
	<div class="success-message">{{ successMessage }}</div>
	{{/if}}

	<input class="form-control" type="text" name="latitude" id="lat-pos" placeholder="Latitude *">
	<input class="form-control" type="text" name="longitude" id="lng-pos" placeholder="Longitude *">

	<button id="updateProfile" type="submit">Update Profile</button>
	
	<div id="profileMap" style="width: 320px; height: 480px;"></div>

</form>

{{!-- FORMULARIO TUPPER --}}
<form action="/tupper/new" method="POST" id="form-tupper">
	<label for="tuppername">Your Recipe</label>
	<input id="tuppername" type="text" name="tuppername" placeholder="Recipe Name">
	<label for="price">Your Price</label>
	<input type="number" name="price" id="price">
	<label for="quantity">Tupper´s Quantity</label>
	<input type="number" name="quantity" id="quantity">

	<button type="submit">Create Your Tupper</button>

</form>

{{!-- Google Places and Google Map API --}}
<script src="/javascripts/autocomplete.js"></script>
<script src="/javascripts/geocoding.js"></script>