.error-message {
	color: $error-color;
}

.success-message {
	color: $success-color;
}

#map {
	margin-top:5px;
	width: 335px;
	height: 500px;
	border-radius: 20px;
	border:1px solid $medium-orange;
}

.orange{
	background-color: $medium-orange;
	color: whitesmoke;
	text-decoration: none;
}

.form-tupper {
	display: none;
}