html {
	font-size: $font-base;
}

body {
  	font-family: $font-main;
}

a {
	color: $light-blue;
	text-decoration: none;
}

#map {
  margin-top:5px;
  width: 335px;
  height: 500px;
  border-radius: 20px;
  border:1px solid rgb(241, 156, 57);
}