/* Fonts
========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
$main-font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$brand-font-family: 'Ubuntu', sans-serif;

$font-base: 16px;

/* Colors
========================================================================== */
$light-blue: #00E5FF;
$medium-blue: #00B7FF;
$medium-orange: #F03C00;
$medium-yellow: #fad03b;
$ligth-black: #5F6075;
$medium-black: #1A1A1C;
$dark-black: #000000;
